.oneTask {
  break-inside: avoid;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  border: 1px solid var(--border);
  border-radius: .5rem;
  padding: 1rem;
  background-color: var(--bg);
  box-sizing: border-box;
  overflow-x: hidden;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}

.oneTask .toogle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  button,
  label {
    width: min-content;
  }

  input {
    display: none;
  }

  button {
    border: none;
    width: min-content;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}

.oneTask .details {
  flex: 1;
  min-width: 0;

  * {
    line-height: 1.4;
    color: var(--text);
    text-align: start;
  }

  h3,
  p {
    text-transform: capitalize;
    margin: 0;
  }

  h3 {
    font-size: 1rem;
    color: var(--text-h);
    margin-bottom: 0.25rem;
  }

  p {
    font-size: 0.9rem;
    margin-top: 0.25rem;
  }

  > div {
    font-size: 0.75rem;
    color: var(--text);
    opacity: 0.8;
    margin-bottom: 0.5rem;
  }

  .detail{
    font-size: 0.95rem;
  }
}

.oneTask .icon {
  width: 1.2rem;
  height: 1.2rem;
}

.oneTask .taskFinish {
  &.true {
    text-decoration: line-through;
  }

  &.false {
    text-decoration: none;
  }
}

.oneTask.work {
  background-color: var(--work);
}

.oneTask.study {
  background-color: var(--study);
}

.oneTask.personal {
  background-color: var(--personal);
}

.oneTask.shopping {
  background-color: var(--shopping);
}

.oneTask.other {
  background-color: var(--other);
}

.oneTask.undefined {
  background-color: var(--undefined);
}