.headerSection{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: .5rem auto;

  padding-inline: 1.2rem;

  border: 1px solid var(--border);
  border-radius: 50px;
  
}