.oneTask {
  /* flex: 1; */

  flex: 0 1 13rem;

  border: 1px solid var(--border);
  border-radius: 15px;
  padding: 1rem .5rem;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-wrap: break-word;
  position: relative;

  .toogle {
    position: absolute;
    top: .5rem;
    right: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    button,
    label {
      width: min-content;
    }

    input {
      display: none;
    }

    button {
      border: none;
      width: min-content;
      padding: 0;
      background-color: transparent;
    }
  }

  .details {
    * {
      line-height: .8rem;
      color: var(--bg);
      text-align: start;
    }

    h3,
    p {
      text-transform: capitalize;
    }
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }

}

.work {
  background-color: #81ABD7;
}

.study {
  background-color: #73B200;
}

.personal {
  background-color: #F7AF14;
}

.shopping {
  background-color: #B174FB;
}

.other {
  background-color: #00668B;
}

.undefined{
  background-color: #81ABD7;
}