.oneTask {
  border: 1px solid var(--border);
  border-radius: 15px;
  padding: 1rem .5rem;
  box-sizing: border-box;
  overflow-x: hidden;

  break-inside: avoid;
  margin-bottom: .8rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

  .toogle {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button,
    label {
      width: min-content;
    }

    input {
      display: none;
    }

    button {
      border: none;
      width: min-content;
      padding: 0;
      background-color: transparent;
    }
  }

  .details {
    * {
      line-height: .8rem;
      color: var(--text);
      text-align: start;
    }

    h3,
    p {
      text-transform: capitalize;
    }
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }

}

.work {
  background-color: var(--work);
}

.study {
  background-color: var(--study);
}

.personal {
  background-color: var(--personal);
}

.shopping {
  background-color: var(--shopping);
}

.other {
  background-color: var(--other);
}

.undefined {
  background-color: var(--undefined);
}