.app {
  position: relative;

  article, 
  p {
    margin: 1rem auto;
  }

  .taskArticle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

  >* {
    width: 1050px;
    max-width: 100%;
    box-sizing: border-box;
  }
}

* {
  font-size: small;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

h3 {
  font-size: medium;
}

h4 {
  font-size: small;
}