.taskList {

  /*h2*/
  .listTitle {
    margin: 2rem 0 .8rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--border);
  }

  /* div */
  .list {
    columns: 4;
    column-gap: .8rem;

    @media (max-width: 2126px) {
      columns: 5;
    }

    @media (max-width: 1022px) {
      columns: 4;
    }

    @media (max-width: 850px) {
      columns: 3;
    }

    @media (max-width: 500px) {
      columns: 2;
    }
  }
}

.taskFinish.false {
  text-decoration: none;
}

.taskFinish.true {
  text-decoration: line-through;
}

li {
  display: block;
  break-inside: avoid;
  margin-bottom: .8rem;
}