.taskList {

  /*h2*/
  .listTitle{
    margin: 2rem 0 .8rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--border);
  }

  /* div */
  .list {

    @media (max-width : 2126px) {
      columns: 5;
      column-gap: .8rem;
    }

    @media (max-width : 1022px) {
      columns: 4;
      column-gap: .8rem;
    }

    @media (max-width : 850px) {
      columns: 3;
      column-gap: .8rem;

    }

    @media (max-width : 500px) {
      columns: 2;
      column-gap: .8rem;

    }
  }
}

.taskFinish.false {
  text-decoration: none;
}

.taskFinish.true {
  text-decoration: line-through;
}

li {
  width: fit-content;
  display: block;
}