.taskList{

  .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .8rem
  }

}

.taskFinish.false{
  text-decoration: none;
}
.taskFinish.true{
  text-decoration: line-through;
}

li{
  width: fit-content;
  display: block;
}